<h2>Hi Rails 6 in 2021</h2>





<div class="row">
  <div class="col-sm-5 col-md-6">.col-sm-5 .col-md-6</div>
  <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0"> .col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0</div>
</div>


<div class="row">
  <div class="col-sm-4">.col-sm-4</div>
  <div class="col-sm-4">.col-sm-4</div>
  <div class="col-sm-4">.col-sm-4</div>
</div>


Первый
<div class="row">
  <div class="col-lg-8" style="background-color: #730E15">.col-sm-8</div>
  <div class="col-lg-4" style="background-color: blue">.col-sm-4</div>
  <div class="col-lg-12" style="background-color: green">.col-sm-12</div>
</div>

Второй
<div class="row">
  <div class="col-sm-4" style="background-color: #730E15">.col-sm-4</div>
  <div class="col-sm-4" style="background-color: blue">.col-sm-4</div>
  <div class="col-sm-4" style="background-color: green"> .col-sm-4</div>
</div>

<div class="row">
  <div class="col-sm-4">.col-sm-4</div>
  <div class="col-sm-4">.col-sm-4</div>
  <div class="col-sm-4">.col-sm-4</div>
</div>


<div id='fadeMe'>I will fade</div>

City: <input type='text' id='cityField' />
Calendar: <input type='text' id='calendarField' />


<script>
    $(document).ready(function(){
        alert($.fn.jquery);
    });

</script>